<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <title>Order</title>
</head>
<body>
    <div class="container text-center mt-5">
        <h1 class="text-info">Order submit form</h1>
        <div class="row">
            <div class="col-lg-6">
             <h2 class="mt-5 text-primary">Select cloth type</h2>
             <div class="shadow p-3 mb-5 bg-white rounded">
             <div class="d-flex justify-content-center">
                 <span class="m-3">T-shirt</span> <p class="m-3">Price: 2 Birr</p>
             </div>
                 <div class="d-flex justify-content-center">
                 <label id="basic-addon1" class="m-3">Quantity:</label>
                    <input type="number" class="col-sm-1 m-3"aria-label="email" aria-describedby="basic-addon1" for="basic-addon1">
            </div></div>
            <div class="shadow p-3 mb-5 bg-white rounded">
            <div class="d-flex justify-content-center">
                <span class="m-3">T-shirt</span> <p class="m-3">Price: 2 Birr</p>
            </div>
                <div class="d-flex justify-content-center">
                <label id="basic-addon1" class="m-3">Quantity:</label>
                   <input type="number" class="col-sm-1 m-3"aria-label="email" aria-describedby="basic-addon1" for="basic-addon1">
           </div></div>
           <div class="shadow p-3 mb-5 bg-white rounded">
           <div class="d-flex justify-content-center">
            <span class="m-3">T-shirt</span> <p class="m-3">Price: 2 Birr</p>
        </div>
            <div class="d-flex justify-content-center">
            <label id="basic-addon1" class="m-3">Quantity:</label>
               <input type="number" class="col-sm-1 m-3"aria-label="email" aria-describedby="basic-addon1" for="basic-addon1">
       </div></div>
             </div>
            <div class="col-lg-6">
              <h2 class="mt-5 text-primary">Fill delivery details</h2>
              <div class="shadow p-3 mb-5 bg-white rounded">
              <div class="d-flex justify-content-center">
                <label id="basic-addon1" class="m-3">Dorm number:</label>
                    <input type="number" class="col-sm-1 m-3"aria-label="email" aria-describedby="basic-addon1" for="basic-addon1">
            </div></div>
            <div class="shadow p-3 mb-5 bg-white rounded">
            <div class="d-flex justify-content-center">
                <label id="basic-addon1" class="m-3">Dorm number:</label>
                    <input type="number" class="col-sm-1 m-3"aria-label="email" aria-describedby="basic-addon1" for="basic-addon1">
            </div></div>
            <div class="shadow p-3 mb-5 bg-white rounded">
            <div class="d-flex justify-content-center">
                <label id="basic-addon1" class="m-3">Dorm number:</label>
                    <input type="number" class="col-sm-1 m-3"aria-label="email" aria-describedby="basic-addon1" for="basic-addon1">
            </div></div>
            </div>
          </div>
          <input type="submit" class="btn btn-warning btn-lg-5 btn-block col-4">submit</b>
    </div>
    
</body>
</html>