<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <title>User signup Page</title>
</head>
<body>
    <div class="container">
        <div class="row">
           <div class="col-md-8 mx-auto">
              <div class="card">
                 <div class="card-body">
                    <div class="row">
                       <div class="col">
                        <img class="rounded mx-auto d-block" width="160px" src="../static/images/userprofile.png"/>
                       </div>
                    </div>
                    <div class="row text-center">
                       <div class="col">
                        <h3>Hello ******</h3>
                       </div>
                    </div>
                    <div class="row">
                       <div class="col">
                          <hr>
                       </div>
                    </div>
                    <div class="row">
                       <div class="col-md-6">
                          <label class="form-label">Full Name</label>
                          <div class="form-control">
                            <input class="form-control" ID="TextBox1" placeholder="Full Name"></input>
                            </div>
                       </div>
                       <div class="col-md-6">
                          <label class="form-label">Student ID</label>
                          <div class="form-control">
                             <input Class="form-control" ID="TextBox2" placeholder="Student Id" type="text"></input>
                          </div>
                       </div>
                    </div>
                    <div class="row">
                       <div class="col-md-6">
                          <label class="form-label">Contact No</label>
                          <div class="form-control">
                             <input Class="form-control" ID="TextBox3" placeholder="Contact No" type="text"></input>
                          </div>
                       </div>
                       <div class="col-md-6">
                          <label class="form-label">Email ID</label>
                          <div class="form-control">
                             <input Class="form-control" ID="TextBox4" placeholder="Email ID" type="Email"></input>
                          </div>
                       </div>
                    </div>
                    <div class="row">
                       <div class="col-md-4">
                          <label class="form-label">Campus</label>
                          <div class="form-control">
                            <select name="Campus" id="Campus" class="form-select">
                                <option value="AAiT">AAiT</option>
                                <option value="MAIN">Main Campus</option>
                                <option value="FB">FB</option>
                                <option value="4kilo">4kilo</option>
                            </select>                           
                          </div>
                       </div>
                       <div class="col-md-4">
                          <label class="form-label">Block Number</label>
                          <div class="form-control">
                             <input class="form-control" ID="TextBox7" placeholder="Block number" type="number"></input>
                          </div>
                       </div>
                        <div class="col-md-4">
                           <label class="form-label">Dorm Number</label>
                           <div class="form-control">
                              <input Class="form-control" ID="TextBox5" placeholder="Dorm number" type="number"></input>
                           </div>
                        </div>
                     </div>

                    </div>
                    
                    <div class="row">
                       <div class="col text-center">
                           <h3>
                            <span class="badge rounded-pill bg-light text-dark">Login Credentials</span>
                           </h3>
                       </div>
                    </div>
                    <div class="row">
                       <div class="col-md-6">
                          <label class="form-label">Member ID</label>
                          <div class="form-control">
                             <input class="form-control" ID="TextBox8" placeholder="member ID"></input>
                          </div>
                       </div>
                       <div class="col-md-6">
                          <label class="form-label">Password</label>
                          <div class="form-control">
                             <input class="form-control" ID="TextBox9" placeholder="Password" type="Password"></input>
                          </div>
                       </div>
                    </div>
                    <div class="row">
                        <div class="col">
                           <div class="form-control text-center">
                              <button type="button" class="btn btn-success btn-block btn-lg">Sign Up</button>  <!--ID="Button1" Text="Sign Up" OnClick="Button1_Click"-->
                           </div>
                        </div>
                     </div>   
                 </div>
              </div>
           </div>
        </div>
     </div>
     <script src="../static/js/bootstrap.bundle.min.js"></script>
</body>
</html>




